# Grafana Datasource Provisioning
# Автоматически подключает Prometheus как data source

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus  # Явный UID для использования в alerts и dashboards
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
